{% extends 'nav.html' %}

<!---->
{% block content %}
<br /><br />
<div class="about-section">
  <h1>About Us</h1>
  <p class="head-title">
    this Website is made by me as always , it's a BLOG with it you can upload
    some actualites .
  </p>
  <p class="head-title">
    made by Oussama Ben Hassen and his partners Khaled Gobaa and Khalil Haj
    Chaieb.
  </p>
</div>
<br />
<div class="wrap">
  <h2 style="text-align: center" class="under">Our Team</h2>
  <br />
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="wrap">
            <h2>Oussama Ben Hassen</h2>
            <p class="title">Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>oussama.bh09@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="wrap">
            <h2>Kalil haj chaieb</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="wrap">
            <h2>Khaled Gobaa</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }

    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }

    .about-section {
      padding: 50px;
      text-align: center;
      background-color: #474e5d;
      color: white;
    }

    .wrap {
      padding: 0 16px;
    }

    .wrap::after,
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .title {
      color: grey;
    }

    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }

    .button:hover {
      background-color: #555;
    }

    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    h2 {
      font-size: 31.2px;
    }
    .under {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    h1 {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    .head-title {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17.5px;
    }
  </style>
  {% endblock content %}
</div>
